body{

    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;

}
header{

    text-align: center;

    color: white;

}
section{

    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

    border-radius: 10px;
    
    padding: 15px;

    max-width: 500px;
    width: 90%;

    margin: auto;

}
footer{

    text-align: center;

    color: white;
    font-style: italic;

}
#foto{

    width: 250px;
    height: 250px;

    border-radius: 50%;

}
